*{
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  color:#696969;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

li{
  list-style-type: none;
}

.header{
  background-color:hsl(90, 9%, 96%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #d5d5d5;
  padding-bottom: 20px;
}

.header a {
  font-weight: bold;
}

.header ul {
  display: flex;
}

.header ul li {
  padding: 20px;
} 

.header ul li:hover { /* round youtube play button icon*/
    color: white;
    background-color:#6592c9;
    border: 1px solid;
    border-radius:10px 30px;
}

.header ul li a {
  font-weight: bold;
  text-transform: capitalize;
}

.link-logotipo{
  margin: 0 40px 0 0;
  font-size: 24px;
}

.link-logotipo span{
  color: #6592c9;
}

.tamanho-maximo-container {
  max-width: 1024px;
  margin: 0 auto;
}

.titulo-principal {
	margin-top: 20px;
	background-repeat: no-repeat;
  background-size: cover;
	height: 100vh;
	display: flex;
  justify-content: center;
  background-image: url(/assets/img-fundo.jpg);
}

.titulo-principal-descricao{
  width: 400px;
  top: 35%;
  text-align: center;
  position: absolute;
  font-size: 20px;
  color: white;
  opacity: 0.9;
  border-style: solid;
  padding: 50px 40px;
}

.titulo-principal-descricao h3{
  font-size: 20px;
}

.informacoes-inicio {
  display: flex;
  max-width: 960px;
  margin: 60px auto;
  padding: 60px 0;
}

.container{
  padding-bottom: 40px;
  border-bottom: 2px solid #d5d5d5;
  display: flex;
  flex-wrap: wrap;
  margin: 50px 100px;
  align-items: center;
  justify-content: center;
}

.container .column {
  flex: 1 1 200px;
  margin: 10px;
} 

.container .column p{
  padding: 10px 0;
  text-align: center;
  font-weight: bold;
} 

.image {     
  width: 500px;
  height: 400px;
  object-fit: cover;   
  resize:vertical;
  transition: all 0.3s;
}

.newsletter-form {
  max-width: 960px;
  margin: 100px auto;
  flex: 2 1 260px;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
}

.newsletter-form input {
  flex: 3 1 260px;
  font-size: 1.25em;
  color:hsl(90, 9%, 96%);;
  font-style: italic;
  font-family: "Nunito", sans-serif;
  border: 4px solid #6592c9;
  background: transparent;
  padding: 15px 10px;
  border-radius: 0px;
}

.newsletter-form button {
  flex: 1 1 260px;
  font-family: "Nunito",sans-serif;
  font-size: 2.25em;
  font-weight: bold;
  text-transform: uppercase;
  background:#6592c9;
  color: white;
  cursor: pointer;
  border: 0px;
  padding: 15px 10px;
  margin-left: 10px;
}

.footer{
  justify-content: space-around;
  text-align: center;
  background-color:#DCDCDC;
  margin-top: 40px;
  padding-top: 30px;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #d5d5d5;
}

.footer-icone {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.footer a {
  padding:10px;
  margin:10px;
  font-weight: bold;
}

.footer p {
  text-align: center;
  padding: 20px;
  font-weight:lighter;
}

/* Geral */

.conteudo-centro {
  text-align: center;
  margin: 100px 100px;
  padding: auto;
}

.estilo-titulo {
  text-align: center;
  font-size: 2.25em;
  margin: 20px 0px;
  width: 100%;
  height: 100%;
}

.estilo-descricao{
  text-align: center;
  font-size: 1.25em;
}


.botao:hover { background:#414141; }

/* Fale Conosco */

.conteudo-form{
  max-width: 960px;
  margin: 60px auto;
  padding: 60px 0;
}

.formulario { 
  max-width:480px; 
  margin:50px auto; 
}

.campo {
  color: #aca4a4;
  font-family: 'open_sansregular';
  font-size: 16px;
  border-radius: 3px;
  line-height: 20px;
  background-color: transparent;
  border: 2px solid #D2D2D2;
  padding: 11px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.campo:focus { 
  border: 2px solid #6592c9; 
  color: #6592c9;
}

textarea {
  height: 150px;
  line-height: 150%;
}

.botao {
  width: 100%;
  background:#6592c9;
  color: #ffffff;
  border-radius:5px;
  border:0;
  cursor:pointer;
  font-size:22px;
  padding-top:10px;
  padding-bottom:10px;
  font-weight:700;
}